#
# Copyright (c) 2021 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "MQTT Comms with ThingsBoard"

	config MQTT_BROKER_HOSTNAME
		string "MQTT Broker Hostname"
		default "mqtt.thingsboard.cloud"
		help
			Hostname of the MQTT broker to connect to.

	config MQTT_CLIENT_ID
		string "MQTT Client ID"
		default "nRF9160CommsWithThingsBoard8567"
		help
			Client ID to use when connecting to the MQTT broker.
	config MQTT_USERNAME
		string "MQTT Username"
		default ""
		help
			Username to use when connecting to the MQTT broker.

endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
